<%- model_class = Ticket -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event Type</th>
      <th>Event Name</th>
      <th>Address</th>
      <th>Seats </th>
      <th>Cost</th>
      <th>Date</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <% eventID = Showtime.find(ticket.showtimeID).eventID %>
        <% locID = Showtime.find(ticket.showtimeID).locID%>
        <% e = Event.find (eventID) %>
        <% show = Showtime.find (ticket.showtimeID) %>
        <% loc = Location.find (locID) %>
        <td><%= e.eventType %></td>
        <td><%= e.name %></td>
        <td><%= loc.name + ", " + loc.address %></td>
        <td><%= ticket.seats %></td>
        <td><%= ticket.seats * show.cost %></td>
        <td><%= show.date %></td>
        <td><%= show.time %></td>
        <td>
        <%= link_to "Add Review", {:controller => "reviews", :action => "new", :event => eventID}, 
        class: 'btn btn-xs btn-warning' %>

        </td>
        <td>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ticket_path(ticket),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

