<%- model_class = Showtime -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:eventID) %>:</strong></dt>
  <dd><%= @showtime.eventID %></dd>
  <dt><strong><%= model_class.human_attribute_name(:locID) %>:</strong></dt>
  <dd><%= @showtime.locID %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @showtime.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @showtime.time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= @showtime.cost %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              showtimes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_showtime_path(@showtime), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              showtime_path(@showtime),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
